p {
  margin-bottom: 8px;
}

.top{
  color:white;
  margin-bottom: 5px;
}

.weatherCondition {
    text-transform: capitalize;
  }

.form-group{
   margin-top: 20px;
}

.Enter {
    border-radius: 10px;
    border: solid #254886;
    width: 33%;
    height: 33px;
  }
  
  .go {
    margin: 5px;
    border: none;
    border-radius: 50%;
    color:#E3FEFE;
    background: #254886;
    font-weight: bold;
    font-size: 20px;
  }
  
  .now {
    border: none;
    border-radius: 50%;
    padding: 5px 8px;
    color: #C72772;
  }

  .ExtraInfo {
    color:#D2D2AC;
    margin: 5px 20px 0px 0px;
  }

  